.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    padding : 0px 42px;
    box-sizing: border-box;  
    width: 370px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 45px;
    font-size: 14px;

    .reg-button {
        width : 100%;
        font-size: 18px;
        color : white;
        padding: 10px;
        border: none;
        border-radius: 3px;
        margin: 7px 0 0 0px;
        
        &.vk {
            background-color: #3b5f94;
        }
        &.fb {
            background-color: #323c89;
        }
        &.gp {
            background-color: #da3d2c;
        }
        &.ya {
            background-color: white;
            border : 2px solid #da3d2c;
            color : black;   
            max-height: 41px;
            span {
                color: #da3d2c;
            }
        }
        &.submit {
            background-color: #52ac62;
        }   

        &:hover {
            cursor: pointer;
        }
    }

    input[type="text"], input[type="password"] {
        width : 100%;
        background-color: #fcfcfc;
        border-radius: 3px;
        border: 1px solid #e5e8ec;
        margin : 5px;
        padding: 12px 12px;
        box-sizing: border-box;
        &::placeholder {
            color: #bdc2c9;
        }
    }

    .custom-checkbox {
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        cursor: pointer;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            
            &:checked ~ .checkmark {
                background-color: white;
                &::after {
                    display: block;
                }
            }

        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            border: 1px solid #5587d1;
            &::after {
                content: "";
                display: none;
                position: relative;
                left: 6px;
                width: 6px;
                height: 14px;
                border: solid black;
                border-width: 0 1px 1px 0;
                transform: rotate(45deg);

            }
        }
    }

    .reg-showhide {
        cursor: pointer;
        font-size : 14px;
        color : #52ac62;
        align-self : flex-end;
    }
}



@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}