$tooltip-width : 150px;

.tooltip {
    position: relative;
    display: inline-block;
    
    .tooltip-text {
        background-color : black;
        color : white;
        border-radius: 3px; 
        text-align: center;
        width: $tooltip-width;
        padding: 10px;
        position: absolute;
        z-index: 1000;
        transition: opacity 1s;
        &::after {
            content: " ";
            position: absolute;
            border-width: 5px;
            border-style: solid;
        }
        &.top {
            bottom: 150%;
            left: 50%;
            margin-left: -$tooltip-width/2;
            &::after {   
                bottom: -25%;
                left: 50%;
                margin-top: -5px;
                border-color: black transparent  transparent  transparent ;
            } 
        }
        &.bottom {
            top: 150%;
            left: 50%; 
            margin-left: -$tooltip-width/2;
            &::after {
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-color: transparent transparent black transparent;
            } 
        }
        &.left {
            top: -10px;
            right: 110%;
            &::after {
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-color: transparent transparent transparent black;
            } 
        }
        &.right {
            top: -10px;
            left: 110%;
            &::after {
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-color: transparent black transparent transparent;
            } 
        }
    }
    
}